<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Task Manager</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
